<div class="panel-footer">
	<form name="contatoForm">
		<h4>Adicione um contato:</h4>
		<input placeholder="Nome" type="text" class="form-control" ng-model="contato.name" ng-required="true" ng-minlength="10" name="name">
		<input placeholder="telefone" type="text" class="form-control" ng-model="contato.phone"ng-required="true" name="phone" ng-pattern="/^\d{4,5}-\d{4}$/">						
		<select name="operadoras" class="form-control" ng-model="contato.operadora" ng-options="operadora.name group by operadora.categoria for operadora in operadoras">
			<option value="">Selecione uma Operadora</option>
		</select>
		<br>
		<div class="form-group">  				
			<label>Atribua uma cor:</label>						
			<input class="form-control" type="color" ng-model="contato.color" value="#000000">				
		</div>
	</form>
	<br>					
	<button class="btn btn-block btn-primary" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>						
	<br>
	<div ng-messages="contatoForm.name.$error" ng-if="contatoForm.name.$dirty">
		<div ng-message="required" class="alert alert-danger">
			Nome é obrigatório
		</div>
		<div ng-message="minlength" class="alert alert-danger">
			Nome muito curto
		</div>				
	</div>			
	<div ng-messages="contatoForm.phone.$error" ng-if="contatoForm.phone.$dirty">
		<div ng-message="required" class="alert alert-danger">
			Telefone é obrigatório
		</div>
		<div ng-message="pattern" class="alert alert-danger">
			Telefone deve estar no padrão 00000-0000
		</div>				
	</div>
	<a navigate-to="/contatos" class="btn btn-danger">Cancelar</a>
</div>